body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* DO NOT TOUCH MODAL CODE */
/* .modal {
    background-color: rgba(0,0,0, .75);
}

.modal-header {
    background-color: darkred;
    color: white;
}

.modal-header button span {
    color: whitesmoke;
}

.modal-header img {
    margin-right: .5em;
}

.modBTN {
    position: fixed;
    top: 1em;
    right: 1em;
    border: 1px solid white;
    border-radius: 200px;
}

.modal-body #bronze {
    padding: .2em;
    border: 3px solid #80440d;
    background-color: #da7618;
    border-radius: 10px;
    margin-bottom: 1em;
    box-shadow: 4px 4px 2px slategrey;
}
.modal-body #bronze h3 {
    text-align: right;
    color: #da7618;
    text-shadow: 2px 2px 2px black;
    margin-right: .5em;
}

.modal-body #silver {
    padding: .2em;
    border: 3px solid #575757;
    background-color: #a2a2a2;
    border-radius: 10px;
    margin-bottom: 1em;
    box-shadow: 4px 4px 2px slategrey;
}

.modal-body #silver h3 {
    text-align: right;
    color: #a2a2a2;
    text-shadow: 2px 2px 2px black;
    margin-right: .5em;
}

.modal-body #gold {
    padding: .2em;
    border: 3px solid #5f5209;
    background-color: #FFD700;
    border-radius: 10px;
    margin-bottom: 1em;
    box-shadow: 4px 4px 2px slategrey;
}

.modal-body #gold h3 {
    text-align: right;
    color: #FFD700;
    text-shadow: 2px 2px 2px black;
    margin-right: .5em;
}

.hintBTN {
    margin-bottom: 2em;
} */
/* DO NOT TOUCH ABOVE MODAL CODE */